#What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

#Prerequsites
Youâ€™ll need to know a bit of Python. For a refresher, see the [Python tutorial](https://docs.python.org/tutorial/).

In [1]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#Object creation

See the [introduction to data structures](https://pandas.pydata.org/docs/user_guide/dsintro.html#dsintro) section of Pandas documentation for details.

You can create a [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html#pandas.Series) (One-dimensional ndarray with axis labels, including time series) by passing a list of values, letting pandas create a default integer index:

In [2]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

You can create a [DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame) (Two-dimensional, size-mutable, potentially heterogeneous tabular data) by passing a NumPy array, with a datetime index and labeled columns:

In [4]:
# Returns the range of equally spaced time points
dates = pd.date_range("20220306", periods=6)
dates

DatetimeIndex(['2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-03-06 -0.532544 -0.909531  0.319392 -0.581565
2022-03-07 -0.014565 -0.252736  0.373388  1.625013
2022-03-08  0.577319  0.203903 -0.791503  0.431937
2022-03-09 -1.698721  0.488508  2.322870  0.458819
2022-03-10  0.373692  1.316560  2.237285 -2.327311
2022-03-11  0.880614  0.177013  0.644282 -0.259856

You can also create a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:

In [6]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

The columns of the resulting DataFrame have different dtypes:

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

#Viewing data

See [Essentail basic functionality](https://pandas.pydata.org/docs/user_guide/basics.html#basics) section of Pandas documentation for details.

You can view the top and bottom rows of the frame:

In [8]:
df.head(3) # first three rows

                   A         B         C         D
2022-03-06 -0.532544 -0.909531  0.319392 -0.581565
2022-03-07 -0.014565 -0.252736  0.373388  1.625013
2022-03-08  0.577319  0.203903 -0.791503  0.431937

In [9]:
df.tail(2) # last two rows

                   A         B         C         D
2022-03-10  0.373692  1.316560  2.237285 -2.327311
2022-03-11  0.880614  0.177013  0.644282 -0.259856

You can display the indexes and columns:

In [10]:
df.index

DatetimeIndex(['2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

**describe**() shows a quick statistic summary of your data:

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.069034  0.170619  0.850952 -0.108827
std    0.936942  0.743147  1.211566  1.325806
min   -1.698721 -0.909531 -0.791503 -2.327311
25%   -0.403049 -0.145299  0.332891 -0.501138
50%    0.179563  0.190458  0.508835  0.086040
75%    0.526412  0.417356  1.839034  0.452098
max    0.880614  1.316560  2.322870  1.625013

Transposing your data:

In [13]:
df.T

   2022-03-06  2022-03-07  2022-03-08  2022-03-09  2022-03-10  2022-03-11
A   -0.532544   -0.014565    0.577319   -1.698721    0.373692    0.880614
B   -0.909531   -0.252736    0.203903    0.488508    1.316560    0.177013
C    0.319392    0.373388   -0.791503    2.322870    2.237285    0.644282
D   -0.581565    1.625013    0.431937    0.458819   -2.327311   -0.259856

[Sorting](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_index.html) by axis:

In [14]:
# The axis along which to sort. The value 0 identifies the rows, and 1 identifies the columns.
df.sort_index(axis=1, ascending=False) # Sort based on column label

                   D         C         B         A
2022-03-06 -0.581565  0.319392 -0.909531 -0.532544
2022-03-07  1.625013  0.373388 -0.252736 -0.014565
2022-03-08  0.431937 -0.791503  0.203903  0.577319
2022-03-09  0.458819  2.322870  0.488508 -1.698721
2022-03-10 -2.327311  2.237285  1.316560  0.373692
2022-03-11 -0.259856  0.644282  0.177013  0.880614

[Sorting](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values) by values:

In [15]:
df.sort_values(by="C") # Sort by 'C' column ascending

                   A         B         C         D
2022-03-08  0.577319  0.203903 -0.791503  0.431937
2022-03-06 -0.532544 -0.909531  0.319392 -0.581565
2022-03-07 -0.014565 -0.252736  0.373388  1.625013
2022-03-11  0.880614  0.177013  0.644282 -0.259856
2022-03-10  0.373692  1.316560  2.237285 -2.327311
2022-03-09 -1.698721  0.488508  2.322870  0.458819

#Selection

See [Indexing and Selecting Data](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing) section of Pandas documentation for details.

Selecting a single column, which yields a Series, equivalent to df.A:

In [16]:
df["A"] # Select 'A' column

2022-03-06   -0.532544
2022-03-07   -0.014565
2022-03-08    0.577319
2022-03-09   -1.698721
2022-03-10    0.373692
2022-03-11    0.880614
Freq: D, Name: A, dtype: float64

Selecting via [], which slices the rows:

In [17]:
df[0:4] # Select first 4 rows

                   A         B         C         D
2022-03-06 -0.532544 -0.909531  0.319392 -0.581565
2022-03-07 -0.014565 -0.252736  0.373388  1.625013
2022-03-08  0.577319  0.203903 -0.791503  0.431937
2022-03-09 -1.698721  0.488508  2.322870  0.458819

In [18]:
df["20220306":"20220310"] # Get "2022-03-06" through "2022-03-10" rows

                   A         B         C         D
2022-03-06 -0.532544 -0.909531  0.319392 -0.581565
2022-03-07 -0.014565 -0.252736  0.373388  1.625013
2022-03-08  0.577319  0.203903 -0.791503  0.431937
2022-03-09 -1.698721  0.488508  2.322870  0.458819
2022-03-10  0.373692  1.316560  2.237285 -2.327311

##Selection by label

**loc** selects rows and columns with specific labels. **iloc** selects rows and columns at specific integer positions.

Getting a cross section using a label:

In [19]:
dates

DatetimeIndex(['2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.loc[dates[0]] # Get row indexed by '2022-03-06'

A   -0.532544
B   -0.909531
C    0.319392
D   -0.581565
Name: 2022-03-06 00:00:00, dtype: float64

Selecting on a multi-axis by label:

In [21]:
df.loc[:, ["A", "B"]] # Get 'A' and 'B' columns for all rows

                   A         B
2022-03-06 -0.532544 -0.909531
2022-03-07 -0.014565 -0.252736
2022-03-08  0.577319  0.203903
2022-03-09 -1.698721  0.488508
2022-03-10  0.373692  1.316560
2022-03-11  0.880614  0.177013

Showing label slicing, both endpoints are included:

In [22]:
df.loc["20220307":"20220309", ["A", "B"]] # # Get 'A' and 'B' columns for rows indexed by '2022-03-07' through '2022-03-09'

                   A         B
2022-03-07 -0.014565 -0.252736
2022-03-08  0.577319  0.203903
2022-03-09 -1.698721  0.488508

Reduction in the dimensions of the returned object:

In [ ]:
df.loc["20220308", ["A", "B"]] # Get 'A' and 'B' columns of '2022-03-08' row

A   -1.317860
B   -0.450899
Name: 2022-03-08 00:00:00, dtype: float64

Getting a scalar value:

In [ ]:
df.loc[dates[0], "A"] # Get value at dates[0] row and 'A' column.

-0.9943596704832943

Getting fast access to a scalar (equivalent to the prior method):

In [23]:
df.at[dates[0], "A"]

-0.5325443055280581

##Selection by position
Selecting via the position of the passed integers:

In [24]:
df.iloc[2] # Get all values of third row

A    0.577319
B    0.203903
C   -0.791503
D    0.431937
Name: 2022-03-08 00:00:00, dtype: float64

By integer slices, similar to NumPy/Python:

In [25]:
df

                   A         B         C         D
2022-03-06 -0.532544 -0.909531  0.319392 -0.581565
2022-03-07 -0.014565 -0.252736  0.373388  1.625013
2022-03-08  0.577319  0.203903 -0.791503  0.431937
2022-03-09 -1.698721  0.488508  2.322870  0.458819
2022-03-10  0.373692  1.316560  2.237285 -2.327311
2022-03-11  0.880614  0.177013  0.644282 -0.259856

In [26]:
df.iloc[3:5, 0:2] # Get values of 4 and 5 rows, 'A', 'B' columns

                   A         B
2022-03-09 -1.698721  0.488508
2022-03-10  0.373692  1.316560

By lists of integer position locations, similar to the NumPy/Python style:

In [27]:
df.iloc[[1, 2, 4], [0, 2]] # Get values of 2, 3, 5 rows, 'A', 'C' columns

                   A         C
2022-03-07 -0.014565  0.373388
2022-03-08  0.577319 -0.791503
2022-03-10  0.373692  2.237285

Slicing rows explicitly:

In [ ]:
df.iloc[1:3, :] # Get values of 2 and 3 rows

                   A         B         C         D
2022-03-07 -0.557685 -0.892694  0.546897 -2.067104
2022-03-08 -1.317860 -0.450899 -0.622320  0.441941

Slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3] # Get values of 2 and 3 columns

                   B         C
2022-03-06  0.095113 -0.110981
2022-03-07 -0.892694  0.546897
2022-03-08 -0.450899 -0.622320
2022-03-09  0.236813 -0.145373
2022-03-10 -0.896039  0.068385
2022-03-11  0.051315  0.786332

 Getting a value explicitly:

In [ ]:
df.iloc[1, 1] # Get value at 2nd row and 2nd columns

-0.8926937174448274

Getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.iat[1, 1]

-0.8926937174448274

##Boolean indexing
Using a single columnâ€™s values to select data:

In [28]:
df[df["A"] > 0] # Get rows where 'A' columns is greater than 0

                   A         B         C         D
2022-03-08  0.577319  0.203903 -0.791503  0.431937
2022-03-10  0.373692  1.316560  2.237285 -2.327311
2022-03-11  0.880614  0.177013  0.644282 -0.259856

Using the isin() method for filtering:

In [29]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"] # Add new column 'E'
df2

                   A         B         C         D      E
2022-03-06 -0.532544 -0.909531  0.319392 -0.581565    one
2022-03-07 -0.014565 -0.252736  0.373388  1.625013    one
2022-03-08  0.577319  0.203903 -0.791503  0.431937    two
2022-03-09 -1.698721  0.488508  2.322870  0.458819  three
2022-03-10  0.373692  1.316560  2.237285 -2.327311   four
2022-03-11  0.880614  0.177013  0.644282 -0.259856  three

In [30]:
df2[df2["E"].isin(["two", "four"])] # Get rows where the values in column 'E' is either "two" or "four"

                   A         B         C         D     E
2022-03-08  0.577319  0.203903 -0.791503  0.431937   two
2022-03-10  0.373692  1.316560  2.237285 -2.327311  four

##Setting
Setting a new column automatically aligns the data by the indexes:

In [32]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20220306", periods=6))
s1

2022-03-06    1
2022-03-07    2
2022-03-08    3
2022-03-09    4
2022-03-10    5
2022-03-11    6
Freq: D, dtype: int64

In [33]:
df["F"] = s1
df

                   A         B         C         D  F
2022-03-06 -0.532544 -0.909531  0.319392 -0.581565  1
2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2
2022-03-08  0.577319  0.203903 -0.791503  0.431937  3
2022-03-09 -1.698721  0.488508  2.322870  0.458819  4
2022-03-10  0.373692  1.316560  2.237285 -2.327311  5
2022-03-11  0.880614  0.177013  0.644282 -0.259856  6

Setting values by label:

In [34]:
df.at[dates[0], "A"] = 0 # Set the value at dates[0] and 'A' column to be 0
df

                   A         B         C         D  F
2022-03-06  0.000000 -0.909531  0.319392 -0.581565  1
2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2
2022-03-08  0.577319  0.203903 -0.791503  0.431937  3
2022-03-09 -1.698721  0.488508  2.322870  0.458819  4
2022-03-10  0.373692  1.316560  2.237285 -2.327311  5
2022-03-11  0.880614  0.177013  0.644282 -0.259856  6

Setting values by position:

In [35]:
df.iat[0, 1] = 0 # Set the value at first row, second column to be 0
df

                   A         B         C         D  F
2022-03-06  0.000000  0.000000  0.319392 -0.581565  1
2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2
2022-03-08  0.577319  0.203903 -0.791503  0.431937  3
2022-03-09 -1.698721  0.488508  2.322870  0.458819  4
2022-03-10  0.373692  1.316560  2.237285 -2.327311  5
2022-03-11  0.880614  0.177013  0.644282 -0.259856  6

Setting by assigning with a NumPy array:

In [ ]:
df.loc[:, "D"] = np.array([5] * len(df)) # Set the values at 'D' columns to be 5
df

                   A         B         C  D  F
2022-03-06  0.000000  0.000000 -0.110981  5  1
2022-03-07 -0.557685 -0.892694  0.546897  5  2
2022-03-08 -1.317860 -0.450899 -0.622320  5  3
2022-03-09  2.586004  0.236813 -0.145373  5  4
2022-03-10 -0.438958 -0.896039  0.068385  5  5
2022-03-11  0.387382  0.051315  0.786332  5  6

#Missing data

See [Missing Data](https://pandas.pydata.org/docs/user_guide/missing_data.html#missing-data) section of Pandas documentation for details.

Pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [36]:
# Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
# Add a new column "E" and set the first two rows of "E" to be "1"
df1.loc[dates[0] : dates[1], "E"] = 1
df1

                   A         B         C         D  F    E
2022-03-06  0.000000  0.000000  0.319392 -0.581565  1  1.0
2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2  1.0
2022-03-08  0.577319  0.203903 -0.791503  0.431937  3  NaN
2022-03-09 -1.698721  0.488508  2.322870  0.458819  4  NaN

To drop any rows that have missing data:

In [37]:
df1.dropna(how="any")

                   A         B         C         D  F    E
2022-03-06  0.000000  0.000000  0.319392 -0.581565  1  1.0
2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2  1.0

Filling missing data:

In [38]:
df1.fillna(value=5)

                   A         B         C         D  F    E
2022-03-06  0.000000  0.000000  0.319392 -0.581565  1  1.0
2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2  1.0
2022-03-08  0.577319  0.203903 -0.791503  0.431937  3  5.0
2022-03-09 -1.698721  0.488508  2.322870  0.458819  4  5.0

To get the boolean mask where values are *NaN*:

In [39]:
pd.isna(df1)

                A      B      C      D      F      E
2022-03-06  False  False  False  False  False  False
2022-03-07  False  False  False  False  False  False
2022-03-08  False  False  False  False  False   True
2022-03-09  False  False  False  False  False   True

#Operations

See the [Flexible binary operations](https://pandas.pydata.org/docs/user_guide/basics.html#basics-binop) section of Pandas documentation for details.

##Stats
Operations in general exclude missing data.
Performing a descriptive statistic:

In [40]:
df

                   A         B         C         D  F
2022-03-06  0.000000  0.000000  0.319392 -0.581565  1
2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2
2022-03-08  0.577319  0.203903 -0.791503  0.431937  3
2022-03-09 -1.698721  0.488508  2.322870  0.458819  4
2022-03-10  0.373692  1.316560  2.237285 -2.327311  5
2022-03-11  0.880614  0.177013  0.644282 -0.259856  6

In [41]:
df.max(axis=0) # Get max of all columns

A    0.880614
B    1.316560
C    2.322870
D    1.625013
F    6.000000
dtype: float64

Same operation on the other axis:

In [42]:
df.max(axis=1) # Get max of all rows

2022-03-06    1.0
2022-03-07    2.0
2022-03-08    3.0
2022-03-09    4.0
2022-03-10    5.0
2022-03-11    6.0
Freq: D, dtype: float64

##Apply

Applying functions to the data:

In [52]:
df.apply(lambda x: x.max() - x.min(), axis=1) # Get the max-min differenes of columns
# def test(x):
#   result = x.max() - x.min()
#   return result

2022-03-06    1.581565
2022-03-07    2.252736
2022-03-08    3.791503
2022-03-09    5.698721
2022-03-10    7.327311
2022-03-11    6.259856
Freq: D, dtype: float64

##String Methods
Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions by default (and in some cases always uses them).

In [44]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

#Getting data in/out
##CSV
Writing to a csv file:

In [45]:
df.to_csv("foo.csv")

Reading from a csv file:

In [46]:
pd.read_csv("foo.csv")

   Unnamed: 0         A         B         C         D  F
0  2022-03-06  0.000000  0.000000  0.319392 -0.581565  1
1  2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2
2  2022-03-08  0.577319  0.203903 -0.791503  0.431937  3
3  2022-03-09 -1.698721  0.488508  2.322870  0.458819  4
4  2022-03-10  0.373692  1.316560  2.237285 -2.327311  5
5  2022-03-11  0.880614  0.177013  0.644282 -0.259856  6

##HDF5

HDF5 is a unique technology suite that makes possible the management of extremely large and complex data collections. If you want to know more about HDF5 format, please see [What is HDF5](https://support.hdfgroup.org/HDF5/whatishdf5.html) for details.

Reading and writing to HDFStores.

In [47]:
df.to_hdf("foo.h5", "df")

Reading from a HDF5 Store:

In [48]:
pd.read_hdf("foo.h5", "df")

                   A         B         C         D  F
2022-03-06  0.000000  0.000000  0.319392 -0.581565  1
2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2
2022-03-08  0.577319  0.203903 -0.791503  0.431937  3
2022-03-09 -1.698721  0.488508  2.322870  0.458819  4
2022-03-10  0.373692  1.316560  2.237285 -2.327311  5
2022-03-11  0.880614  0.177013  0.644282 -0.259856  6

##Excel

Reading and writing to MS Excel.

Writing to an excel file:

In [49]:
df.to_excel("foo.xlsx", sheet_name="Sheet1")

Reading from an excel file:

In [50]:
pd.read_excel("foo.xlsx", "Sheet1", index_col=None, na_values=["NA"])

  Unnamed: 0         A         B         C         D  F
0 2022-03-06  0.000000  0.000000  0.319392 -0.581565  1
1 2022-03-07 -0.014565 -0.252736  0.373388  1.625013  2
2 2022-03-08  0.577319  0.203903 -0.791503  0.431937  3
3 2022-03-09 -1.698721  0.488508  2.322870  0.458819  4
4 2022-03-10  0.373692  1.316560  2.237285 -2.327311  5
5 2022-03-11  0.880614  0.177013  0.644282 -0.259856  6