#Convert list of dictionaries to Dataframe

In [ ]:
import pandas as pd
d = [{'city':'Delhi',"data":1000}, {'city':'Bangalore',"data":2000},{'city':'Mumbai',"data":1000}]
d

In [ ]:
# Convert the list of dictionaries 'd' into a dataframe.
# Your code goes here

#Convert CSV files to Dataframe

In [ ]:
! pip install wget
! python -m wget "https://raw.githubusercontent.com/dipanjanS/practical-machine-learning-with-python/master/notebooks/Ch02_The_Python_ML_Ecosystem/simplemaps-worldcities-basic.csv" -o simplemaps-worldcities-basic.csv

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)

Saved under simplemaps-worldcities-basic.csv

In [ ]:
# Download worldcities csv file
! pip install wget
! python -m wget "https://raw.githubusercontent.com/dipanjanS/practical-machine-learning-with-python/master/notebooks/Ch02_The_Python_ML_Ecosystem/simplemaps-worldcities-basic.csv" -o simplemaps-worldcities-basic.csv 

# Read in csv file and convert it to dataframe

# Your code goes here

# Show the first 10 rows of converted dataframe
# Your code goes here

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)

Saved under simplemaps-worldcities-basic (1).csv

#Data Access

##Head and Tail

Get the last 10 rows of **city_data**:

In [ ]:
# Your code goes here

##Slicing and Dicing

In [ ]:
series_es = city_data.lat
type(series_es)

Get the first 5 odd number of rows of **series_es**:

In [ ]:
# Your code goes here

Get the first 8 rows of **series_es**:

In [ ]:
# Your code goes here

Get first 8 rows of **city_data**:

In [ ]:
# Your code goes here

Get the first 4 columns of the first 5 rows of **city_data**:

In [ ]:
# Your code goes here

Select cities that have population of more than 10
million and select columns with column name start with the letter p:

In [ ]:
# Your code goes here

#Data Operations

##Missing data and the fillna function

In [ ]:
import numpy as np
df = pd.DataFrame(np.random.randn(8, 3), columns=['A', 'B', 'C'])
df.iloc[4,2] = np.nan
df

Replace all the "NaN" in **df** with "0":

In [ ]:
# Your code goes here

#Descriptive Statistics functions

In [ ]:
columns_numeric = ['lat','lng','pop']

Get average 'lat', 'lng', and 'pop' values:

In [ ]:
# Your code goes here

Get sum of 'lat', 'lng', and 'pop' values:

In [ ]:
# Your code goes here

Get total number of 'lat', 'lng', and 'pop' values:

In [ ]:
# Your code goes here (hint: use count())

Get 75 percentile of 'lat', 'lng', and 'pop' values:

In [ ]:
# Your code goes here (hint: use quantile())

Get sums of each row:

In [ ]:
# Your code goes here

Calculate
the most important statistics for numerical data in one go so that we donâ€™t have to use individual functions:

In [ ]:
# Your code goes here